# Default ignored files
/../../Task 2. Allocating an array of the required size (a pointer to an array)./.idea/shelf/
/../../Task 2. Allocating an array of the required size (a pointer to an array)./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Task 2. Allocating an array of the required size (a pointer to an array)./.idea/httpRequests/
# Datasource local storage ignored files
/../../Task 2. Allocating an array of the required size (a pointer to an array)./.idea/dataSources/
/../../Task 2. Allocating an array of the required size (a pointer to an array)./.idea/dataSources.local.xml
